html {
    background-color: rebeccapurple;
}

h1 {
    font-size: 100px;
    font-family: cursive;
    text-align: center;
}

h2 {
    font-size: 75px;
    text-align: center;
}

.center {
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width: 300px;
    max-height: 300px;
}